* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #77BFA3;
}

#branding {
    padding: 4px 0px 4px 0px;
}

#branding > h1, h2 {
    text-align: center;
}

#branding > h2 {
    font-size: 18px;
}

#board {
    display: grid;
    justify-content: center;
    align-content: center;
    
    grid-template-areas:
                        "a b c"
                        "d e f"
                        "g h i";

    grid-template-rows: repeat(3, 200px);
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
}

.board-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #98C9A3;
}

.board-cell:hover {
    background-color: #BFD8BD;
}

#controls {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

#controls button, input {
    font-size: 20px;
    box-shadow: none;
    padding: 10px;
    width: 300px;
    margin-bottom: 10px;
    border: 0;
    text-align: center;
    background-color:#BFD8BD;
}

#controls button {
    border: 0;
}

#controls input:focus {
    outline: none;
}

#controls button:hover, input:focus {
    background-color: #98C9A3;
}

@media screen and (max-width: 990px) {
    #controls {
        flex-direction: column;
    }

    #controls button {
        width: 100%;
    }

    #controls input {
        width: 100%;
    }
}